### 1. Imports and Dataset Analysis


The following are achieved - 
 - Create seperate lists for each UN Region
 - Create combined dataset with data from year 1961 to 2018

In [1]:
import pandas as pd

# Defining filepath
filepath_T2014 = 'Data/Till2014.csv'
filepath_2015 = 'Data/2015.csv'
filepath_2016 = 'Data/2016.csv'
filepath_2017 = 'Data/2017.csv'
filepath_2018 = 'Data/2018.csv'

# Load file with `sheet_name=None` - returns a dictionary
# Original dataset from Kaggle with data until 2014
df_T2014 = pd.read_csv(filepath_T2014, encoding = 'unicode_escape')

# Data obtained from API calls through the years 2015 to 2018
df_2015 = pd.read_csv(filepath_2015, encoding = 'unicode_escape')
df_2016 = pd.read_csv(filepath_2016, encoding = 'unicode_escape')
df_2017 = pd.read_csv(filepath_2017, encoding = 'unicode_escape')
df_2018 = pd.read_csv(filepath_2018, encoding = 'unicode_escape')

# Combine data from all worksheets as single DataFrame
# df_all = pd.concat(df_dict.values(), ignore_index=True)

In [2]:
df_T2014.head()

,country,ISO alpha-3 code,UN_region,UN_subregion,year,record,crop_land,grazing_land,forest_land,fishing_ground,built_up_land,carbon,total,GDP,population
0,Armenia,ARM,Asia,Western Asia,1992,BiocapPerCap,1.611286e-01,0.135023,0.083836,0.013718,0.033669,0.000000e+00,4.273741e-01,949.033,3449000
1,Armenia,ARM,Asia,Western Asia,1992,BiocapTotGHA,5.558130e+05,465763.337400,289190.662300,47320.224590,116139.598200,0.000000e+00,1.474227e+06,949.033,3449000
2,Armenia,ARM,Asia,Western Asia,1992,EFConsPerCap,3.909225e-01,0.189137,0.000001,0.004138,0.033669,1.112225e+00,1.730092e+00,949.033,3449000
3,Armenia,ARM,Asia,Western Asia,1992,EFConsTotGHA,1.348487e+06,652429.066600,4.327841,14272.803690,116139.598200,3.836620e+06,5.967954e+06,949.033,3449000
4,Armenia,ARM,Asia,Western Asia,1992,EFExportsPerCap,1.124910e-03,0.002283,0.000000,0.000438,0.000000,4.819043e-02,5.203676e-02,949.033,3449000

In [3]:
# Extracting all the countries in certain UN_regions and creating seperate lists

asia_list = df_T2014.query("UN_region=='Asia'")["country"]
europe_list = df_T2014.query("UN_region=='Europe'")["country"]
africa_list = df_T2014.query("UN_region=='Africa'")["country"]
latinam_list = df_T2014.query("UN_region=='Latin America and the Caribbean'")["country"]
oceania_list = df_T2014.query("UN_region=='Oceania'")["country"]
northam_list = df_T2014.query("UN_region=='North America'")["country"]
world_list = df_T2014.query("UN_region=='World'")["country"]

print("Asia", len(set(asia_list)))
print("Europe", len(set(europe_list)))
print("Africa", len(set(africa_list)))
print("Latin America", len(set(latinam_list)))
print("Oceania", len(set(oceania_list)))
print("North America", len(set(northam_list)))
print("World", len(set(world_list)))

Asia 46
Europe 42
Africa 56
Latin America 37
Oceania 11
North America 3
World 1

In [4]:
df_T2014 = df_T2014.drop(['UN_subregion'], axis = 1)
df_2015 = df_2015.drop(['Qscore'], axis = 1)
df_2016 = df_2016.drop(['Qscore'], axis = 1)
df_2017 = df_2017.drop(['Qscore'], axis = 1)
df_2018 = df_2018.drop(['Qscore'], axis = 1)

# df_2015.head()
# df_2016.head()
# df_2017.head()
df_2018.head()

,year,countryCode,country,record,cropLand,grazingLand,forestLand,fishingGround,builtupLand,carbon,total,GDP,population
0,2018,1,Armenia,AreaPerCap,0.170983,3.972559e-01,0.111422,0.043025,0.029320,0.000000,7.520064e-01,4406.706543,2951750.0
1,2018,1,Armenia,AreaTotHA,504700.000000,1.172600e+06,328890.000000,127000.000000,86544.799800,0.000000,2.219735e+06,4406.706543,2951750.0
2,2018,1,Armenia,BiocapPerCap,0.208557,2.634645e-01,0.092649,0.015682,0.035763,0.000000,6.161165e-01,4406.706543,2951750.0
3,2018,1,Armenia,BiocapTotGHA,615609.084600,7.776814e+05,273477.774700,46290.303580,105563.235600,0.000000,1.818622e+06,4406.706543,2951750.0
4,2018,1,Armenia,Earths,0.305087,1.272349e-01,0.168831,0.000478,0.022597,0.576557,1.200786e+00,4406.706543,2951750.0

In [5]:
df_T2014.record.unique()

array(['BiocapPerCap', 'BiocapTotGHA', 'EFConsPerCap', 'EFConsTotGHA',
       'EFExportsPerCap', 'EFExportsTotGHA', 'EFImportsPerCap',
       'EFImportsTotGHA', 'EFProdPerCap', 'EFProdTotGHA'], dtype=object)

In [6]:
# Rename and re-arrange columns
df_2017.rename({'value': 'total'}, axis=1, inplace=True)
df_T2014.rename({'country_code': 'countryCode', 'crop_land': 'cropLand','fishing_ground': 'fishingGround', 'grazing_land': 'grazingLand', 'forest_land': 'forestLand', 'built_up_land': 'builtupLand', 'value': 'total', 'UN_region': 'UNRegion'}, axis=1, inplace=True)
column_titles = ['year','country','countryCode','record','cropLand', 'grazingLand', 'forestLand', 'fishingGround', 'builtupLand', 'carbon', 'population', 'QScore', 'total']
df_T2016 = df_T2014.reindex(columns=column_titles)
df_2016 = df_2016.reindex(columns=column_titles)
df_2017 = df_2017.reindex(columns=column_titles)
df_2018 = df_2018.reindex(columns=column_titles)

In [7]:
# Extracting only the required record types
df_2015_clean = df_2015.query("record == 'BiocapPerCap' | record == 'BiocapTotGHA' | record == 'EFConsPerCap' | record == 'EFConsTotGHA' | record == 'EFExportsPerCap' | record == 'EFExportsTotGHA' | record == 'EFImportsPerCap' | record == 'EFImportsTotGHA' | record == 'EFProdPerCap' | record == 'EFProdTotGHA'")
df_2016_clean = df_2016.query("record == 'BiocapPerCap' | record == 'BiocapTotGHA' | record == 'EFConsPerCap' | record == 'EFConsTotGHA' | record == 'EFExportsPerCap' | record == 'EFExportsTotGHA' | record == 'EFImportsPerCap' | record == 'EFImportsTotGHA' | record == 'EFProdPerCap' | record == 'EFProdTotGHA'")
df_2017_clean = df_2017.query("record == 'BiocapPerCap' | record == 'BiocapTotGHA' | record == 'EFConsPerCap' | record == 'EFConsTotGHA' | record == 'EFExportsPerCap' | record == 'EFExportsTotGHA' | record == 'EFImportsPerCap' | record == 'EFImportsTotGHA' | record == 'EFProdPerCap' | record == 'EFProdTotGHA'")
df_2018_clean = df_2018.query("record == 'BiocapPerCap' | record == 'BiocapTotGHA' | record == 'EFConsPerCap' | record == 'EFConsTotGHA' | record == 'EFExportsPerCap' | record == 'EFExportsTotGHA' | record == 'EFImportsPerCap' | record == 'EFImportsTotGHA' | record == 'EFProdPerCap' | record == 'EFProdTotGHA'")

In [8]:
# Combining data from kaggle dataset and data extracted through API
# df_combined now has data from 1961 to 2018
df_combined = pd.concat([df_T2014, df_2015_clean, df_2016_clean, df_2017_clean, df_2018_clean], ignore_index=True)
df_combined = df_combined.drop(['ISO alpha-3 code', 'countryCode', 'QScore'], axis = 1)
df_combined = df_combined.sort_values(by=['year'])

# Saving to CSV
# df_combined.to_csv('Data/Combined.csv')

df_combined.head()

,country,UNRegion,year,record,cropLand,grazingLand,forestLand,fishingGround,builtupLand,carbon,total,GDP,population,Unnamed: 14
14830,Colombia,Latin America and the Caribbean,1961,BiocapPerCap,0.276438,3.010095,7.117855,0.203585,0.026768,0.0,10.634742,2260.9,16982000.0,NaN
48783,Mauritius,Africa,1961,EFConsTotGHA,NaN,NaN,NaN,NaN,NaN,NaN,613677.564000,NaN,679000.0,NaN
48782,Mauritius,Africa,1961,EFConsPerCap,NaN,NaN,NaN,NaN,NaN,NaN,0.903736,NaN,679000.0,NaN
48781,Mauritius,Africa,1961,BiocapTotGHA,NaN,NaN,NaN,NaN,NaN,NaN,918306.029200,NaN,679000.0,NaN
48780,Mauritius,Africa,1961,BiocapPerCap,NaN,NaN,NaN,NaN,NaN,NaN,1.352349,NaN,679000.0,NaN

### 2. df_combined Dataset Preparation

The following are achieved - 
 - Create seperate lists for each UN Region
 - Append UN Region to data from 2015 to 2018
 - Append 3 digit Country Code to data from 1961 to 2014
 - Creating datasets for countries only and regions only

In [9]:
# Defining filepath
filepath_combined = 'Data/Combined.csv'
filepath_T2014 = 'Data/Till2014.csv'

# Load file with `sheet_name=None` - returns a dictionary
# df = pd.read_csv(filepath_combined, encoding = 'unicode_escape')
df_T2014 = pd.read_csv(filepath_T2014, encoding = 'unicode_escape')

In [10]:
# Mapping countries to their UN regions because countries from 2015 do not have UN Regions
for index, row in df_combined.iterrows():
    if df_combined.at[index, 'country'] in set(asia_list):
        df_combined.at[index, 'UNRegion'] = 'Asia'
    elif df_combined.at[index, 'country'] in set(europe_list):
        df_combined.at[index, 'UNRegion'] = 'Europe'
    elif df_combined.at[index, 'country'] in set(africa_list):
        df_combined.at[index, 'UNRegion'] = 'Africa'
    elif df_combined.at[index, 'country'] in set(latinam_list):
        df_combined.at[index, 'UNRegion'] = 'LatinAmerica'
    elif df_combined.at[index, 'country'] in set(oceania_list):
        df_combined.at[index, 'UNRegion'] = 'Oceania'
    elif df_combined.at[index, 'country'] in set(northam_list):
        df_combined.at[index, 'UNRegion'] = 'NorthAmerica'
    elif df_combined.at[index, 'country'] in set(world_list):
        df_combined.at[index, 'UNRegion'] = 'World'

In [11]:
countries = list(df_2015.country.unique())
country_code_mapping = {}

for i in countries:
    if i not in country_code_mapping:
        country_code_mapping[i] = []
        country_code_mapping[i].append(df_2015.query(f'country == "{i}"')['countryCode'].unique()[0])

# country_code_mapping

for index, row in df_combined.iterrows():
    if df_combined.at[index, 'country'] in list(country_code_mapping):
        df_combined.at[index, 'countryCode'] = country_code_mapping[f'{row.country}'][0]

In [12]:
big_regions = ['Africa', 'Asia', 'Europe', 'Latin America and the Caribbean', 'North America', 'Oceania', 
               'Australia and New Zealand', 'Caribbean', 'Central America', 'Central Asia', 
              'Eastern Africa', 'Eastern Asia', 'Eastern Europe', 'Melanesia', 'Middle Africa', 'Northern Africa', 
               'Northern Europe', 'Polynesia', 'South-Eastern Asia', 'South America', 'Southern Africa',
               'Southern Asia', 'Southern Europe', 'Western Africa', 'Western Asia', 'Western Europe']

df_countries =  df_combined[~df_combined['country'].isin(big_regions)]

df_regions = df_combined[df_combined['country'].isin(big_regions)]

len(set(df_countries.country))

204

In [13]:
# # There are 230 groups i.e. 230 countries
# df = df.groupby(['country'], as_index=False).apply(pd.DataFrame.sort_values, 'year').reset_index()
# df = df.drop(['level_0', 'level_1', 'Unnamed: 0'], axis = 1)
# df.to_csv('Data/CleanedData.csv')

### 3. Saving to CSV

In [14]:
# df_combined.to_csv('Data/Combined.csv')
# df_countries.to_csv('Data/CountriesOnly.csv')
# df_regions.to_csv('Data/RegionsOnly.csv')